<section id="header">
  <nav>
    <div id="navBar">
      <ul>
        <li>
          <a href="/"
            ><img style="width: 50px" src="/img/geiran.JPG" alt=""
          /></a>
        </li>
        <li><a href="/guides">Guides</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </nav>
</section>
