<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="/css/404.css" />
  </head>
  <body>
    <div class="body">
      <h1>404</h1>
      <p>
        Looks like you've ventured into the vast, uncharted lands of the
        internet, where this page used to live… or maybe it never existed.
      </p>
      <a href="/" class="home-button">Return to Safe Harbor</a>
    </div>
  </body>
</html>
