<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create guide</title>

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/createGuide.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <section id="createGuide">
      <form
        class="createGuideForm"
        action="/createGuide"
        method="post"
        enctype="multipart/form-data"
      >
        <div>
          <label for="">Title</label>
          <input type="text" name="title" id="title" required />
        </div>
        <div>
          <label for="">Tag</label>
          <input type="text" name="tag" id="tag" required />
        </div>

        <div id="moreSections">
          <div>
            <div>
              <label for="">Overskrift</label>
              <input type="text" name="overskrift" id="overskrift" />
            </div>
            <div>
              <label for="">Beskrivelse</label>
              <textarea
                name="beskrivelse"
                id="beskrivelse"
                rows="4"
                required
              ></textarea>
            </div>
            <div>
              <label for="">Bilde</label>
              <input
                type="file"
                name="bilde"
                id="bilde"
                accept="image/png image/jpeg image/jpg"
              />
              <img
                id="imageDisplay"
                src=""
                alt="Selected image"
                style="max-width: 100%; display: none"
              />
            </div>
          </div>
        </div>
        <div id="op">
          <input type="submit" value="submit" />
        </div>
      </form>
      <button onclick="moreSections()">Add a section</button>
    </section>
    <script src="/js/moreSections.js"></script>
    <script></script>
  </body>
</html>
