<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create guide</title>

    <link rel="stylesheet" href="/css/createGuide.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <section id="createGuide">
      <form
        class="createGuideForm"
        action="/createGuide"
        method="post"
        enctype="multipart/form-data"
      >
        <div>
          <label for="title">Title</label>
          <input type="text" name="title" id="title" maxlength="100" required />
        </div>
        <div>
          <label for="tag">Tag</label>
          <input type="text" name="tag" id="tag" maxlength="30" required />
        </div>

        <!-- Section Fields -->
        <div id="sectionsContainer">
          <div class="section">
            <div>
              <label for="overskrift">Overskrift</label>
              <input type="text" name="overskrift" maxlength="100" required />
            </div>
            <div>
              <label for="beskrivelse">Beskrivelse</label>
              <textarea
                name="beskrivelse"
                rows="4"
                maxlength="2000"
                required
              ></textarea>
            </div>
            <div id="dropArea" style="border: 2px dashed #ccc; padding: 20px">
              <label for="bilde">Bilde</label>
              <input
                type="file"
                id="fileInput"
                name="bilde"
                accept="image/png, image/jpeg"
                style="display: none"
              />
              <img
                id="imageDisplay"
                src=""
                alt="Selected image"
                style="max-width: 100%; display: none"
              />
              <p>Drag and drop an image here, or click to select a file</p>
            </div>
          </div>
        </div>

        <!-- Buttons -->
        <div>
          <button type="button" onclick="addSection()">Add Section</button>
        </div>

        <div id="submitContainer">
          <input type="submit" value="Create Guide" />
        </div>
      </form>
    </section>
    <script src="/js/createGuide.js"></script>
  </body>
</html>
