<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Helpdesk</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/searchBar.css" />
  </head>
  <body>
    <!-- Include Header -->
    <%- include('partials/header') %>

    <!-- Search Bar -->
    <section id="search" class="contentSection">
      <input
        type="text"
        id="myInput"
        onkeyup="searchGuides()"
        placeholder="Search guides..."
      />
    </section>

    <!-- Guide Cards Section -->
    <section id="guides" class="contentSection">
      <main>
        <div id="guideCards">
          <% guides.forEach(guide => { %>
          <a style="text-decoration: none" href="/guides/<%= guide.id %>">
            <div class="guideCardContent">
              <h3 class="guideTitle"><%= guide.tittel %></h3>
              <p class="guideTag"><%= guide.tag %></p>
            </div>
          </a>
          <% }) %>
        </div>
      </main>
    </section>

    <!-- JavaScript for Search -->
    <script src="/js/searchBar.js"></script>
  </body>
</html>
