<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Helpdesk</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <section id="search" class="contentSection">
      <div id="searchBar">
        <div>
          <div class="search"></div>
        </div>
      </div>
    </section>
    <section id="guides" class="contentSection">
      <main>
        <div id="guideCards">
          <div class="guideCardContent"></div>
          <div class="guideCardContent"></div>
          <div class="guideCardContent"></div>
          <div class="guideCardContent"></div>
          <div class="guideCardContent"></div>
          <div class="guideCardContent"></div>
        </div>
      </main>
    </section>
  </body>
</html>
