<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <div id="containerContainer">
      <section class="loginSection">
        <div class="loginContainer">
          <form class="login" action="" method="post">
            <h2>Login</h2>
            <input type="email" name="email" id="email" placeholder="Email" />
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
            />
            <input type="submit" value="Log In" />
          </form>
          <p class="userChange">
            New user? <a href="/register">Register here</a>
          </p>
        </div>
      </section>
    </div>
  </body>
</html>
